SUDO=sudo
DOCKER=sudo docker
DOCKER_COMPOSE=sudo docker compose

PROJECT_NAME="ITX BACKEND EXAM"
PROJECT_LEAD=itx
PROJECT_HOST="127.0.0.1"
PROJECT_CNET=pr-dev

APIREST_PLTF=nginx-java-21
APIREST_IMGK=alpine3.23-nginx-java21
APIREST_PORT=6500
APIREST_BIND="../../../apirest"
APIREST_CAAS=pr-api-dev
APIREST_CAAS_USER=cosuser
APIREST_CAAS_GROUP=cosgroup
APIREST_CAAS_CPUS=2.00
APIREST_CAAS_MEM=128M
APIREST_CAAS_SWAP=256M

GRAFANA_PLTF=grafana-8.1
GRAFANA_IMGK=grafana/grafana:8.1.2
GRAFANA_PORT=6501
GRAFANA_BIND=""
GRAFANA_CAAS=pr-grafana-dev
GRAFANA_CAAS_USER=cosuser
GRAFANA_CAAS_GROUP=cosgroup
GRAFANA_CAAS_CPUS=2.00
GRAFANA_CAAS_MEM=128M
GRAFANA_CAAS_SWAP=256M

K6_PLTF=k6-0.28
K6_IMGK=loadimpact/k6:0.28.0
K6_PORT=6502
K6_BIND=""
K6_CAAS=pr-k6-dev
K6_CAAS_USER=cosuser
K6_CAAS_GROUP=cosgroup
K6_CAAS_CPUS=2.00
K6_CAAS_MEM=128M
K6_CAAS_SWAP=256M

INFLUXDB_PLTF=influxdb-1.8
INFLUXDB_IMGK=influxdb:1.8.2
INFLUXDB_PORT=6503
INFLUXDB_BIND=""
INFLUXDB_CAAS=pr-influxdb-dev
INFLUXDB_CAAS_USER=cosuser
INFLUXDB_CAAS_GROUP=cosgroup
INFLUXDB_CAAS_CPUS=2.00
INFLUXDB_CAAS_MEM=128M
INFLUXDB_CAAS_SWAP=256M

SIMULADO_PLTF=simulado
SIMULADO_IMGK=ldabiralai/simulado:latest
SIMULADO_PORT=6504
SIMULADO_BIND=""
SIMULADO_CAAS=pr-simulado-dev
SIMULADO_CAAS_USER=cosuser
SIMULADO_CAAS_GROUP=cosgroup
SIMULADO_CAAS_CPUS=2.00
SIMULADO_CAAS_MEM=128M
SIMULADO_CAAS_SWAP=256M
